# Ignore everything
**

# Allow files and directories
!assets
!packages
!dependencies-apt.txt
!dependencies-py3.*
!launchers

# YOUR FILES LISTED BELOW THIS LINE (IMPORTANT: PREPEND !)
# ----------------------------------------------------------------------------
